[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
daphne = "*"
django = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-oidc-provider = {git = "https://github.com/ovidner/django-oidc-provider.git", editable = true, ref = "3445e7c8ddb52ca06830fe379601420f7adc0126"}
django-phonenumber-field = "*"
django-redis = "*"
django-widget-tweaks = "*"
graphene-django = "*"
ipython = "*"
mysqlclient = "*"
phonenumberslite = "*"
"psycopg2-binary" = "*"
service-identity = "*"
whitenoise = "==4.0b4"

[dev-packages]
factory-boy = "*"
"flake8" = "*"
"flake8-commas" = "*"
"flake8-isort" = "*"
ipdb = "*"
oic = "*"
pdbpp = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"
pytest-splinter = "*"

[requires]
python_version = "3.6"

[scripts]
docker-test = "pytest --create-db"
web = "daphne -b 0.0.0.0 -p 80 blapp.routing:application"
