[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==3.0.*"
daphne = "==3.0.*"
django = "==4.*"
django-cors-headers = "==3.13.*"
django-environ = "==0.9.*"
django-extensions = "==3.2.*"
django-filter = "==22.*"
django-mptt = "==0.13.*"
django-oidc-provider = {git = "https://github.com/vonfalk/django-oidc-provider.git", editable = true, ref = "9ddfb6955c1cd63ff31d659626b9af1d1ffc6cae"}
django-phonenumber-field = "==6.3.*"
django-redis = "==5.2.*"
django-widget-tweaks = "==1.4.*"
graphene-django = {git = "https://github.com/graphql-python/graphene-django", editable = true, ref = "5f1731dca31bc1b8df766a73011be02744f59c5c"}
ipython = "==8.4.*"
mysqlclient = "==2.1.*"
phonenumberslite = "==8.12.*"
"psycopg2-binary" = "==2.9.*"
service-identity = "==21.1.*"
whitenoise = "==6.2.*"

[dev-packages]
black = "==22.6.*"
factory-boy = "==3.2.*"
"flake8" = "==4.0.*"
"flake8-commas" = "==2.1.*"
"flake8-isort" = "==4.1.*"
ipdb = "==0.13.*"
oic = "==1.4.*"
pdbpp = "==0.10.*"
pytest = "==7.1.*"
pytest-django = "==4.5.*"
pytest-env = "==0.6.*"
pytest-splinter = "==3.3.*"
# Locked at lower version due to compatibility problems in pytest-splinter
splinter = "==0.18.*"
blapp = {editable = true, path = "."}

[requires]
python_version = "3.10"

[scripts]
docker-test = "pytest --create-db"
web = "daphne -b 0.0.0.0 -p 80 blapp.routing:application"
