{% extends 'registration/base.html' %}

{% load widget_tweaks %}

{% block inner_content %}
  <h1>LiTHe Blås</h1>
  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-danger">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </div>
    {% else %}
      <div class="alert alert-info">
        Please log in to see this page.
      </div>
    {% endif %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger">
      Your username and password didn't match. Please try again.
    </div>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username|add_class:'form-control'|add_error_class:'is-invalid' }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password|add_class:'form-control'|add_error_class:'is-invalid' }}
    </div>

    <input type="submit" value="Log in" class="btn btn-block btn-lg btn-primary" />
  </form>

  <p>
    <a href="{% url 'password_reset' %}" class="btn btn-block btn-link">Lost password?</a>
  </p>
{% endblock inner_content %}
