{% load blapp_django_backports %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>LiTHe Blås</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="WEBCLIENT_PLACEHOLDER"></div>
    {{ WEBCLIENT_SETTINGS|json_script:'WEBCLIENT_SETTINGS' }}
    <script src="{% static 'bundle.js' %}"></script>
  </body>
</html>
